body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
main {
  padding: 10px;
}
.about {
  padding: var(--spacing-xxl) 0;
}

.about__container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xl);
  align-items: center;
}

.about__content {
  flex: 1;
  min-width: 300px;
}

.about__title {
  margin-bottom: var(--spacing-md);
}

.about__text {
  color: var(--text-medium);
  margin-bottom: var(--spacing-md);
}

.about__image {
  flex: 1;
  min-width: 300px;
}

.about__image-placeholder {
  background-color: var(--color-claro);
  height: 300px;
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-medium);
  font-weight: bold;
}

/* Mission Section */
.mission {
  padding: var(--spacing-xxl) 0;
  background-color: var(--color-claro);
}

.mission__container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.mission__title {
  text-align: center;
  margin-bottom: var(--spacing-xl);
}

.mission__grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xl);
}

.mission__item {
  flex: 1;
  min-width: 300px;
  padding: var(--spacing-lg);
  background-color: var(--text-white);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
}

.mission__subtitle {
  color: var(--color-primary);
  margin-bottom: var(--spacing-md);
}

.mission__text {
  color: var(--text-medium);
}

/* Values Section */
.values {
  padding: var(--spacing-xxl) 0;
}

.values__container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.values__title {
  text-align: center;
  margin-bottom: var(--spacing-xl);
}

.values__grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
  justify-content: center;
}

.value {
  flex: 1;
  min-width: 200px;
  max-width: 250px;
  text-align: center;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-md);
  background-color: var(--text-white);
  box-shadow: var(--shadow-md);
  transition: transform var(--transition-normal);
}

.value:hover {
  transform: translateY(-5px);
}

.value__icon {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-md);
}

.value__title {
  color: var(--color-primary);
  margin-bottom: var(--spacing-sm);
}

.value__text {
  font-size: var(--font-size-lg);
  color: var(--text-medium);
}
/* Media Queries */
@media (max-width: 768px) {
  .about__container,
  .mission__grid {
    flex-direction: column;
  }

  .about__image {
    order: -1;
    margin-bottom: var(--spacing-lg);
  }

  .values__grid {
    justify-content: center;
  }

  .value {
    min-width: 45%;
  }
}

@media (max-width: 480px) {
  .value {
    min-width: 100%;
  }
}
